@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.repos-list {
    display: grid;
    grid-template-rows: repeat(4, minmax(136px, auto));
}

.pagination {
    height: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
.pagination ul {
    margin: 0 0 0 16px;
}
.pagination li {
    list-style-type: none;
    text-align: center;
}

.page-item {
    height: 24px;
    display: flex;
    justify-content: center;
}
.page-item:first-child, .page-item:last-child {
    width: 24px;
    margin: 0;
}
.page-item:first-child a, .page-item:last-child a {
    color: #0064eb;
}
.page-item, .page-item:last-child {
    margin-left: 16px;
}
.page-item:hover {
    transform: scale(1.15);
}
.page-item-active {
    background-color: #0064eb;
    border-radius: 3px;
}
.page-item-active a {
    color: #FFFFFF;
    padding: 0 6px;
}

.page-link {
    font-family: Inter, serif;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}

.pages {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
}

@media screen and (max-width: 500px) {
    .pagination {
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
}